:root {
    --primary-color: rgb(52, 46, 46);
    --secondary-color: #A3967A;
    --tertriary-color: #FFFBF2;
    --quatriary-color: #CCDAF0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}
/* Styles for the Header */
header {
    background-color: olive;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;

}
header h1 {
    letter-spacing: 4px;
    font-size: 36px;
    color: var(--primary-color);
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    text-align: left;
}
header div a {
    text-decoration: none;
    color: var(--primary-color)
}
header nav ul li a {
    text-decoration: none;
    color: var(--tertriary-color);
    font-size: 1.25em;
    margin-left: 50px;
    margin-right: 20px;
    letter-spacing: .25em;
    text-shadow: 5px 5px 10px black;
    font-family: 'Source Code Pro', monospace;
}
header nav ul li a:hover {
    color: var(--quatriary-color);
}

header nav {
    flex: 1.5;
    text-align: right;
    align-self: center;
    
}
header nav ul li {
    list-style-type: none;
    display: inline; 
}
header div {
    flex: 1;
}

/* Styles for the section */
#bio {
    position: relative;
}
#bio img {
    width: 150px;
    border-radius: 50%;
    position: relative;
    top: 15em;
    left: 1em;
    box-shadow: 0 10px 20px;
    z-index: 2;
}
#bio div{
    color: black;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    position: relative;
}
#bio div p {
    background-color: rgba(237, 232, 225, 0.9);
    font-family: monospace;
    padding-left: 200px;
    padding-right: 20px;
    font-size: 16px;
    margin-bottom: 50px;
}

#bio-title {
    margin: 0 auto;
    padding-top: 10px;
    border-top: 2px solid var(--tertriary-color);
    width: 100%;
    letter-spacing: .35em;
    font-size: 36px;
    color: var(--tertriary-color);
    font-family: 'Courier New', monospace;
}
#social-icons {
    display: flex;
    justify-content: center;
    margin: 50px; 
    
}
#social-icons a:not(:first-child) {
    font-size: 1em;
    width: 3em;
    margin-left: 60px;
    text-align: center;
    border: 1px solid black
}

/* Styles for Gallery */
#projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
#title1 {
    font-family: 'Courier New', monospace;
    letter-spacing: .35em;
    font-size: 36px;
    text-align: center;
    width: 65%;
    color: var(--tertriary-color);
    border-top: 2px solid var(--tertriary-color);
    margin-bottom: 50px;
    padding-top: 20px;
}

#projects div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#projects figure {
    margin: 0 10px 20px 10px;
    background-color: off-white;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px black;
    box-shadow: 0 15px 20px black;
}
#projects figure:hover {
    background-color: olive;
}
#projects figure:active {
    box-shadow: none;
}
#projects figure p {
    color: black;
    text-align: center;
    font-size: 26px;
}
/* Styles for the Contact */
#contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 25px;
}
#contact h3 {
    font-family: 'Courier New', monospace;
    font-size: 36px;
    letter-spacing: .35em;
    text-align: center;
    color: var(--tertriary-color);
    border-top: 2px solid var(--tertriary-color);
    margin: 20px auto;
    padding-top: 25px;
    width: 65%;
}
#contact p {
    font: 15px;
    line-height: 1.5;
    color: var(--tertriary-color);
}
.flex-row {
    display: flex;
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
#contact .flex-row {
    justify-content: center;
}
#contact .flex-column:last-child {
    justify-content: center;
}
#contact input, #contact textarea, #contact button{
    padding: .3em;
    margin-bottom: 1em;
    border-radius: 15px;
    border: 1px solid black;
    width: 100%;
}
#contact input, #contact textarea {
    background-color: var(--quatriary-color);

}
#contact input::placeholder, #contact textarea::placeholder {
    color: black;
}
#contact button {
    background-color: olive;
    color: black;
    box-shadow: 5px 5px 10px black;
}
#contact button:hover {
    background-color: var(--secondary-color);
}
#contact button:active {
    box-shadow: none;
}
#contact input:focus, #contact textarea:focus {
    background-color: white;
}
#message {
    width: 30%;
    margin: 0 auto;
}